body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 20px;
    background-color: #FFE01D;
  }
  
  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
}
  h2{
    text-align: left;
  }

  .inline-container {
    display: flex;
    justify-content: space-between;
  }
 
  .addButton{
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    background-color: #FFE01D;
    font-weight: 800;
  }
  .addButton:hover{
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    background-color: purple;
    font-weight: 800;
    color: #FFE01D;
  }
  
  .container {
    text-align: left;
    background-color: white;
    padding: 20px;
    padding-top: 5px;
    border-radius: 30px;
  }

  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }